<!DOCTYPE hbs>

<h2> Please type your new password</h2>

{{#if user}}
<p>Welcome, <strong>{{user.username}}</strong> !</p>
{{/if}}

<form method="post" action="/vodsystem/changePassword">
<div style = "float:left; width: 250px;">Current password</div><input type="password" name="current" placeholder="Current Password"><br>
<div style = "float:left; width: 250px;">New Password</div><input type="password" name="new1" placeholder="Password"><br>
<div style = "float:left; width: 250px;">New Password one more time</div><input type="password" name="new2" placeholder="Password confirmation"><br>
<br><div style = "float:left; width: 250px;">&nbsp;</div><input type="submit" value="Change Password">
</form>


{{#if exist}}
<h3 style="color:red;">Current password is not correct</h3>
{{/if}}
{{#if invalid}}
<h3 style="color:red;">You should type same new password twice</h3>
{{/if}}
{{#if success}}
<h3 style="color:red;">Password change is successful</h3>
{{/if}}

<br><a href="/vodsystem">Log out</a><br>
<style>
body{
  background: rgb(155, 188, 223);
  font-family: arvo;
}
.container{
    width: 400px;
    padding-top: 60px;
    margin-right: auto;
    margin-left: auto;
}
.form-signin-heading {
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
}
.form-signin .form-signup{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border-radius: 4px;box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.checkbox{
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-lg {
  color: rgb(0, 0, 0);
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;
  text-align: center;
  background-color: #bebcbc;
  margin-top: 10px;
  margin-bottom: 8px;
}
a{
  color: rgb(0, 0, 0);
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 6px;
  text-align: center;
  background-color: #bebcbc;
  margin-top: 10px;
}
</style>
