<!DOCTYPE hbs>
<body>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<header>
<h1 class="Logo">Video On Demand System</h1>
<!--  <img src="/images/logo.png">-->
</header>

  <h2 style="text-align: center"><a class="btn btn-lg btn-primary btn-block" href="/vodsystem/login" type="submit">Log In</a></h2>
  <h2 style="text-align: center"><a class="btn btn-lg btn-primary btn-block" href="/vodsystem/SignUp" type="submit">Sign Up</a></h2>

</body>
<style>
body{
  

background-image: url("coverImg.jpg");
background-repeat: no-repeat;
background-size: cover;
/* Text will aligh with the view port CENTER */
height: 100vh;
width: 100vw;
background: rgb(155, 188, 223);
}
ul {
list-style-type: none;
margin-bottom: 10px;
padding: 0;
overflow: hidden;
background-color: #333;
}
li {
float: left;
}
li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
li a:hover:not(.active) {
background-color: #111;
}
.active {
background-color: #777;
}
.Logo{
margin-top: 0;
padding: 50px;
font-family: arvo;
font-size: 50px;
text-align: center;
}
.btn {
font-family: arvo;
width: 150px;
height: 35px;
padding: 8px;
margin-bottom: -10px;
display: inline-table;
justify-content: center;
text-align: center;
border-radius: 5px;
}

</style>
