<!DOCTYPE hbs>

<form method="post" action="/vodsystem/editUserInfo">
<h2 class="form-signup-heading">Update your Profile Information</h2>
   <!--  <label for="inputName" class="sr-only">Full Name</label>
       <input type="name" name="inputName" class="form-control" placeholder="Full Name"><br> -->
     <label for="inputDate" class="sr-only">Birthdate:</label>
       <input type="birthdate" name="inputDate" size="15" maxlength = "50" class="form-control" placeholder="MM/DD/YYYY"><br>
     <label for="inputGender" class="sr-only">Gender:</label>
       <input type="radio" name="inputGender" class="form-control" value="Male">Male
       <input type="radio" name="inputGender" class="form-control" value="Female">Female<br>
     <label for="inputLocation" class="sr-only" >Location:</label>
       <input type="location" name="inputLocation" size = "15" maxlength = "50" class="form-control" placeholder="Bridgewater, MA"><br>
    <label for="inputBio" class="sr-only">Bio:</label>
       <textarea type="bio" cols="50" rows="10" name="inputBio" class="form-control" placeholder="Enter a description of yourself here."></textarea><br>
   <button class="btnSignUp" type="submit">Update User Info</button>
</form>
<style>
     body{
      background: rgb(155, 188, 223);
    }
    #logout{
      float: right;
      color: white;
      background: #777;
      border-radius: 5px;
      padding: 5px;

    }
    .Logo{
  margin-top: 0;
  padding: 20px;
  font-family: arvo;
  font-size: 40px;
  text-align: center;
  color: white;
}
    li{
      background: #777;
      color: white;
      /*Make rounded blocks*/
      border-radius: 5px;
      /*Put the list in one line*/
      display: inline-block;
      /*Eliminate the bullets*/
      list-style-type: none;
      padding: 5px 10px;
      width: 20%;
      text-align: center;
    }
    #abc {
    width:100%;
    height:100%;
    top:0;
    left:0;
    display: none;
    position:fixed;
    background-color:#313131;
    overflow:auto

    }
    .close {
    height: 30px;
    width: 30px;
    position:absolute;
    right:-14px;
    top:-14px;
    cursor:pointer
    }
    #popupBalance {
    position:absolute;
    left:50%;
    top:17%;
    margin-left:-202px;
    font-family:'Raleway',sans-serif
    }
    form {
    max-width:400px;
    min-width:300px;
    padding:10px 50px;
    border:2px solid gray;
    border-radius:10px;
    font-family:raleway;
    background-color:#fff
    }
    #welcome{
      text-align: center;
      background-color: rgb(255, 206, 96);
      border-top: 100;
      border-color: #777;
      border-style: solid;
      padding: 10px;

    }


</style>
