<!DOCTYPE hbs>
<div class="container">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <form method="post" class="form-signin" action="/vodsystem/login">
    <h2 class="form-signin-heading">Please Sign in</h2>
      <label for="inputName" class="sr-only">User Name</label>
        <input type="username" name="inputName" class="form-control" placeholder="User Name" required="" autofocus=""><br>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="inputPassword" class="form-control" placeholder="Password" required="">
      <button class="btn btn-lg btn-primary btn-block" type="submit" value="Log In">Log In</button>
      <button class="btn btn-lg btn-primary btn-block" type="submit" href="/vodsystem/SignUp" class="btnSignUp">Sign Up</button>
   <!-- /container -->
  </form>
</div>
    
{{#if success}}
<h3 style="color:red;">User creation is successful</h3>
{{/if}}
{{#if failureFlash}}
<h3 style="color:red;">WRONG CREDENTIALS</h3>
{{/if}}
<style>
body{
  background: rgb(155, 188, 223);
  font-family: arvo;
}
.container{
    width: 400px;
    padding-top: 60px;
    margin-right: auto;
    margin-left: auto;
}
.form-signin-heading {
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
}
.form-signin .form-signup{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border-radius: 4px;box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.checkbox{
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 8px;
}
a{
  color: rgb(0, 0, 0);
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 6px;
  text-align: center;
  background-color: #bebcbc;
  margin-top: 10px;
}
</style>