<!DOCTYPE hbs>
<h2> User Upgrade Request <strong>{{ user.username}} </strong> </h2>
{{#if rows}}
<table >
{{#each rows}}
  <tr>
  {{#each this}}
     <td> {{ this }}</td>
  {{/each}}
</tr>
{{/each}}
</table>
{{else}}
  <h3 style="color:red;">No User Upgrade Request!</h3>
{{/if}}

<form method="post" action="/vodsystem/updateUsers">
<div style = "float:left; width: 200px;">Username </div>
  <input type="text" name="inputName" placeholder="username"><br>
<div style = "float:left; width: 200px;">Upgrade to What</div>
  <input type="text" name="inputType" placeholder="ex: Content Provider"><br>
<br><div style = "float:left; width: 200px;">&nbsp;</div>
  <input type="submit" value="Submit the Upgrade">
</form>

{{#if success}}
<h3 style="color:red;">User creation is successful</h3>
{{/if}}
<style>
    body{
      background: rgb(155, 188, 223);
    }
    #logout{
      float: right;
      color: white;
      background: #777;
      border-radius: 5px;
      padding: 5px;

    }
    li{
      background: #777;
      color: white;
      /*Make rounded blocks*/
      border-radius: 5px;
      /*Put the list in one line*/
      display: inline-block;
      /*Eliminate the bullets*/
      list-style-type: none;
      padding: 5px 10px;
      width: 20%;
      text-align: center;
    }
    #abc {
    width:100%;
    height:100%;
    top:0;
    left:0;
    display: none;
    position:fixed;
    background-color:#313131;
    overflow:auto
    }
    .close {
    height: 30px;
    width: 30px;
    position:absolute;
    right:-14px;
    top:-14px;
    cursor:pointer
    }
    form {
    max-width:300px;
    min-width:250px;
    padding:10px 50px;
    border:2px solid gray;
    border-radius:10px;
    font-family:raleway;
    background-color:#fff
    }
    #welcome{
      text-align: center;
      background-color: rgb(155, 188, 223);
      border-top: 100;
      border-color: #777;
      border-style: solid;
      padding: 10px;
    }

    </style>
