<!DOCTYPE hbs>
    <div class="container">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">


    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../../dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script><style type="text/css">
:root .carbonad,
:root #carbonads-container,
:root #content > #right > .dose > .dosesingle,
:root #content > #center > .dose > .dosesingle
{ display: none !important; }</style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <link rel="stylesheet" type="text/css" href="chrome-extension://pkehgijcmpdhfbdbbnkijodmdjhbjlgp/skin/socialwidgets.css">
</header>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Video on Demand</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/vodsystem/userpage">Home</a></li>
            <li><a href="/vodsystem/allVideos">View Videos</a></li>
            <li><a href="/vodsystem/editUserInfo">Edit User Info</a></li>
            <li><a href="/vodsystem/submitUpgrade">Request an Upgrade</a></li>
            <li><a href="/vodsystem/changePassword">Change Password</a></li>
            <li><a href="/vodsystem">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div><!--Welcome-->
      <h2 id="welcome">Welcome: {{username}}</h2>
      <h3> Recommened Videos: </h3>
    </div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
         <iframe width="950" height="480" src="https://www.youtube.com/embed/6CBnqZkascs" frameborder="0" allowfullscreen></iframe>
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <iframe width="950" height="480" src="https://www.youtube.com/embed/ddzU-rkzKF0" frameborder="0" allowfullscreen></iframe>
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <iframe width="950" height="480" src="https://www.youtube.com/embed/HOV0AQHeE7Q" frameborder="0" allowfullscreen></iframe>
          <div class="carousel-caption">
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


  {{#if success}}
  <h3 style="color:red;">User info updated</h3>
  {{/if}}



    <style>
    body{
      background: rgb(155, 188, 223);
      padding-top: 130px;
      padding-bottom: 130px;
    }

    #abc {
    width:100%;
    height:100%;
    top:0;
    left:0;
    display: none;
    margin-left: auto;
    margin-top: auto;
    position:fixed;
    background-color:#313131;
    overflow:auto
    }
    .close {

    height: 30px;
    width: 30px;
    position:absolute;
    right:-14px;
    top:-15px;
    cursor:pointer
    }
    form {
    max-width:300px;
    min-width:250px;
    padding:10px 500px;
    border:2px solid gray;
    border-radius:10px;
    font-family:raleway;
    background-color:#fff
    }
    #welcome{
      text-align: center;
      background: rgb(155, 188, 223);
      border-top: 100;
      padding: 10px;
    }
    .carousel-inner{
      margin-left: auto;
      margin-right: auto;
      max-width: 950px;
      max-height: auto;
    }




    </style>

</div>