<!DOCTYPE hbs>
    <div class="container">
      
      <div><!--TITLE(Could add background image)-->
        <a id="logout" href="/vodsystem">Log Out</a>
        <h1>Video On Demand</h1>
      </div>
      <div><!--Welcome-->
        <h2 id="welcome">Welcome: {{username}}</h2>
      </div><br>
      <ul style="text-align:center">
         <li ><a style="color:white" href="/vodsystem/userpage">Home</a></li>
         <li ><a style="color:white" href="/vodsystem/changePassword">Change Password</a></li>
         <li ><a style="color:white" href="/vodsystem/editUserInfo">Edit User Info</a></li>
         <li ><a style="color:white" href="/vodsystem/allVideos">View Videos</a></li>
      </ul>
      <div>
        <h2 id="video">{{videoTitle}}</h2>
          <video src ={{videoLink}}  width="400" height="300" loop></video>
      </div>
      
    </div>
    <style>
    body{
      background: rgb(155, 188, 223);
    }
    #logout{
      float: right;
      color: white;
      background: #777;
      border-radius: 5px;
      padding: 5px;

    }
    .Logo{
      margin-top: 0;
      padding: 20px;
      font-family: arvo;
      font-size: 40px;
      text-align: center;
      color: white;
    }
    li{
      background: #777;
      color: white;
      /*Make rounded blocks*/
      border-radius: 5px;
      /*Put the list in one line*/
      display: inline-block;
      /*Eliminate the bullets*/
      list-style-type: none;
      padding: 5px 10px;
      width: 20%;
      text-align: center;
    }
    #abc {
    width:100%;
    height:100%;
    top:0;
    left:0;
    display: none;
    position:fixed;
    background-color:#313131;
    overflow:auto
    }
    .close {
    height: 30px;
    width: 30px;
    position:absolute;
    right:-14px;
    top:-14px;
    cursor:pointer
    }

    form {
    background: rgb(155, 188, 223);
    max-width:300px;
    min-width:250px;
    padding:10px 50px;
    border:2px solid gray;
    border-radius:10px;
    font-family:raleway;
    background-color:#fff
    }
    #welcome{
      text-align: center;
      background: rgb(155, 188, 223);
      border-top: 100;
      border-color: #777;
      border-style: solid;
      padding: 10px;
    }

</style>
